<!--The content below is only a placeholder and can be replaced.-->
<br>
<div class="container">
  <div class="row">
    <div class="col-6">

    <nav class="nav">
        <img src="assets/logo.png">
        <a class="nav-link disabled" id="heading" ><b>Socol.us</b></a>
      </nav>
    </div>

    <div class="col-6">
        <nav class="nav justify-content-end">
              <a class="nav-link disabled" ><b>About Us</b></a>
              <a class="nav-link disabled" ><b>Contact Us</b></a>
            <button type="button" id="button" class="btn btn-success">Get Started</button>
        </nav>
      <!-- <a >About Us</a>
      <a >Contact Us</a>
      <button type="button" class="btn btn-success">Get Started</button> -->
    </div>
  </div>
</div><br>

<div class="card" id="card">
    <div class="card-body">
      Contact Us
    </div>
  </div>
<br>
<div class="container">
  <div class="row">
     
      <div class="col">
          <h3><b>SEND US A MESSAGE</b></h3>
        <!-- <label for="inputName">Name</label> -->
        <input type="text" class="form-control" placeholder="Name"><br>
        <!-- <label for="inputEmail">Email</label> -->
        <input type="email" class="form-control" placeholder="Email"><br>
        <!-- <label for="inputMessage">Message</label> -->
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="3"></textarea><br>
        <button type="button" id="button" class="btn btn-success">SUBMIT</button>

      </div>


          <div class="col">
      <p>Please email us for any information</p>
      <p id="heading"><b>@ info@socol.us</b></p><br>
      
      <h3><b>OFFICE LOCATION</b></h3>
      <p>San Francisco, Califorina, US</p>    
    </div>
    
  </div>
</div><br>


  
<div class="container">
<div class="row">
  <div class="col-6">
    <nav class="nav">
        <a class="nav-link disabled">@2018 SocoLus LLC All Rights Reserved</a>
      </nav>
  </div>
  <div class="col-6">
    <!-- <a >Help</a>
    <a >Privacy</a>
    <a >Terms</a> -->
    <nav class="nav justify-content-end">
          <a class="nav-link disabled">Help</a>
          <a class="nav-link disabled">Privacy</a>
          <a class="nav-link disabled">Terms</a>
    </nav>  
  </div>

</div>
</div>
